{% load cms_tags menu_tags sekizai_tags  %}
<!doctype html>
<html>

<head>
    <title>{% block title %}HR3D Engineering{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    {% render_block "css" %}

    <style>
        .container {margin-top:1em}
    </style>

</head>
    <body>

    {% cms_toolbar %}

        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    {% show_menu 0 1 100 100 "menu.html" %}
                </ul>


              ### Right menu items - Login/Logout
              <ul class="navbar-nav">

                {% if user.is_authenticated %}
               <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Welcome {{user.get_username}}
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/accounts/change_password">Change Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/accounts/logout?next={{request.path}}">Logout</a>
                </div>
                {% else %}

                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Login
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/accounts/login?next={{request.path}}">Login</a>
                  <a class="dropdown-item" href="/accounts/password_reset">Lost Password</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Register</a>
                </div>

                {% endif %}

              </ul>



            </div>
        </nav>

        <div class="container">
        {% block content %}{% endblock content %}
        </div>

        {% render_block "js" %}
    </body>
</html>